.overview {
  overflow: auto;
  background-color: bisque;
}

.picture {
  min-height: 40px;
  background-color: aquamarine;
}

.source-program-details {
  background-color: azure;
}

.destination-program-details {
  background-color: aqua;
}

.source-user-details {
  background-color: steelblue;
}

.destination-user-details {
  background-color: blue;
}

.source-agent-details {
  background-color: red;
}

.destination-agent-details {
  background-color: mediumvioletred;
}



.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
 }
