<ng-template #loading>
  <mat-card fxLayout="column" fxLayoutAlign="center center" class="overview" style="min-height: 400px">
    <mat-progress-spinner color="primary" mode="indeterminate" value=50></mat-progress-spinner>
  </mat-card>
</ng-template>

<ng-template #loadingCount>
  <mat-progress-bar mode="indeterminate" style="max-width: 70%"></mat-progress-bar>
</ng-template>

<ng-template #unknown>
  <div fxLayoutAlign="center center" class="header">
    Fear me, for I am the unknown.
  </div>
</ng-template>

<mat-card *ngIf="!(linkLoad.loading$ | async) else loading" class="overview">
  <mat-card-header>
    <mat-card-title><mat-icon class="icon">fingerprint</mat-icon> Connection Link: {{ getSourceHeader(connectionLink)}}<mat-icon class="icon">arrow_right_alt</mat-icon>{{getDestinationHeader(connectionLink)}}</mat-card-title>
    <mat-card-subtitle>Occurred: {{connectionLink.sourceConnection.start | amTimeAgo}}, Still Alive: <span *ngIf="connectionLink.alive">Yes</span><span *ngIf="!connectionLink.alive">No, Duration: {{connectionLink.sourceConnection.duration | amDuration : 'ms' }}</span> </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxFlex>
      <div *ngIf="!(connectionCountLoad.loading$ | async) else loadingCount">
        <span>These two machines have spoken {{ connectionCount }} times</span>
      </div>
      <div *ngIf="!(graphLoad.loading$ | async) else loading" fxLayoutAlign="center center">
        <svg #diagram></svg>
      </div>

      <!-- Program Details -->
      <div fxFlex class="mat-title sub-title">Process Details</div>
      <div fxFlex>
        <div fxLayout="row">
          <div fxFlex class="source-details-panel">
              <div fxLayout="column">
                <div fxFlex="100" class="header">Source Process</div>
                <div *ngIf="connectionLink.sourceConnection != null else unknown">
                  <div fxLayout="row">
                    <div fxFlex="25" class="right-value">Process</div>
                    <div fxFlex="75" >{{connectionLink.sourceConnection.processName}}</div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="25" class="right-value">Command Line</div>
                    <div fxFlex="75">{{connectionLink.sourceConnection.commandLine}}</div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="25" class="right-value">PID</div>
                    <div fxFlex="75">{{connectionLink.sourceConnection.pid}}</div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="25" class="right-value">INode</div>
                    <div fxFlex="75">{{connectionLink.sourceConnection.inode}}</div>
                  </div>
              </div>
            </div>
          </div>
          <div fxFlex class="destination-details-panel">
            <div fxLayout="column">
              <div fxFlex="100" class="header">Destination Process</div>
              <div *ngIf="connectionLink.destinationConnection != null else unknown">
                  <div fxLayout="row">
                    <div fxFlex="25" class="right-value">Process</div>
                    <div fxFlex="75" >{{connectionLink.destinationConnection.processName}}</div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="25" class="right-value">Command Line</div>
                    <div fxFlex="75">{{connectionLink.destinationConnection.commandLine}}</div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="25" class="right-value">PID</div>
                    <div fxFlex="75">{{connectionLink.destinationConnection.pid}}</div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="25" class="right-value">INode</div>
                    <div fxFlex="75">{{connectionLink.destinationConnection.inode}}</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!-- User Details -->
      <div fxFlex class="mat-title sub-title">User Details</div>
      <div fxFlex>
        <div fxLayout="row">
          <div fxFlex class="source-details-panel">
            <div fxLayout="column">
              <div fxFlex="100" class="header">Source Username</div>
              <div *ngIf="connectionLink.sourceConnection!= null else unknown">
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Username</div>
                  <div fxFlex="75" >{{connectionLink.sourceConnection.username}}</div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">User ID</div>
                  <div fxFlex="75">{{connectionLink.sourceConnection.userID}}</div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex class="destination-details-panel">
            <div fxLayout="column">
              <div fxFlex="100" class="header">Destination Username</div>
              <div *ngIf="connectionLink.destinationConnection!= null else unknown">
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Username</div>
                  <div fxFlex="75" >{{connectionLink.destinationConnection.username}}</div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">User ID</div>
                  <div fxFlex="75">{{connectionLink.destinationConnection.userID}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Agent Details -->
      <div fxFlex class="mat-title sub-title">Agent Details</div>
      <div fxFlex>
        <div fxLayout="row">
          <div fxFlex class="source-details-panel">
            <div fxLayout="column">
              <div fxFlex="100" class="header">Source Agent</div>
              <div *ngIf="connectionLink.sourceAgent!= null else unknown">
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Name</div>
                  <div fxFlex="75" >{{connectionLink.sourceAgent.name}}</div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Last Seen</div>
                  <div fxFlex="75">{{connectionLink.sourceAgent.lastSeen | amTimeAgo | titlecase }}</div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Addresses</div>
                  <div fxFlex="75"><div *ngFor="let address of connectionLink.sourceAgent.addresses">{{address.addressString}}</div></div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Total Connections</div>
                  <div fxFlex="75">{{connectionLink.sourceAgent.connectionCount}}</div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex class="destination-details-panel">
            <div fxLayout="column">
              <div fxFlex="100" class="header">Destination Agent</div>
              <div *ngIf="connectionLink.destinationAgent != null else unknown">
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Name</div>
                  <div fxFlex="75" >{{connectionLink.destinationAgent.name}}</div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Last Seen</div>
                  <div fxFlex="75">{{connectionLink.destinationAgent.lastSeen | amTimeAgo | titlecase }}</div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Addresses</div>
                  <div fxFlex="75"><div *ngFor="let address of connectionLink.destinationAgent.addresses">{{address.addressString}}</div></div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="25" class="right-value">Total Connections</div>
                  <div fxFlex="75">{{connectionLink.destinationAgent.connectionCount}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>

