.overview {
  overflow: auto;
}

.picture {
  min-height: 40px;
  background-color: aquamarine;
}

.source-details-panel {
  margin-right: 5px;
}

.destination-details-panel {
  margin-left: 5px;
}

.source-user-details {
  background-color: steelblue;
}

.destination-user-details {
  background-color: blue;
}

.source-agent-details {
  background-color: red;
}

.destination-agent-details {
  background-color: mediumvioletred;
}

.right-value {
  background-color: lightgrey;
  margin-top: 1px;
  font-weight: bolder;
  text-align: right;
  padding-right: 2px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 1px;
}

.sub-title {
  background-color: lightgrey;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  font-weight: bolder;
}

.header {
  background-color: lightgrey;
  margin: 1px 2px 2px 1px;
  padding: 5px;
  font-weight: bolder;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
 }
