<p>
  <svg id="graph" width="100%" height="400px">


    <!-- Outgoing Header -->
    <rect id="outgoing_connection_header"  x="0" y="0" height="35" width="42%" style="fill: gray; stroke-width: 1; stroke: gray" rx="5" ry="5"></rect>
    <text id="outgoing_connection_header_text" x="21%" y="15" dominant-baseline="middle" text-anchor="middle" style="fill: ghostwhite">Outbound Connection</text>


    <!-- Outgoing Rects -->
    <rect id="outgoing_machine_rect" height="90%" width="14%" x="0" y="25" style="fill: white; stroke-width: 1; stroke: gray; stroke-dasharray: 5;"></rect>
    <rect id="outgoing_process_header" height="90%" width="14%" x="28%" y="25" style="fill: white; stroke-width: 1; stroke: gray; stroke-dasharray: 5;"></rect>

    <!-- Outgoing Subheaders-->
    <rect id="outgoing_machine_header" height="30" width="14%" x="0" y="25" style="fill: lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="outgoing_machine_header_text" x="7%" y="40" dominant-baseline="middle" text-anchor="middle">Machine</text>

    <rect id="outgoing_user_header" height="30" width="14%" x="14%" y="25" style="fill: lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="outgoing_user_header_text" x="22%" y="40" dominant-baseline="middle" text-anchor="middle">User</text>

    <rect id="outgoing_process_header" height="30" width="14%" x="28%" y="25" style="fill: lightgrey; stroke-width: 1; stroke: gray "></rect>
    <text id="outgoing_process_header_text" x="36%" y="40" dominant-baseline="middle" text-anchor="middle">Process</text>

    <!-- Outgoing footer -->
    <rect id="outgoing_connection_footer"  x="0" y="90%" height="35" width="42%" style="fill: gray; stroke-width: 1; stroke: gray"></rect>

    <!-- Incoming Header -->
    <rect id="incoming_connection_header" height="35" width="49%" x="50%" y="0" style="fill: gray; stroke-width: 1; stroke: gray" rx="5" ry="5"></rect>
    <text id="incoming_connection_header_text" x="75%" y="15" dominant-baseline="middle" text-anchor="middle" style="fill: ghostwhite">Inbound Connection</text>


    <!-- Incoming rects -->
    <rect id="incoming_port_rect" height="90%" width="7%" x="50%" y="25" style="fill: white; stroke-width: 1; stroke: gray; stroke-dasharray: 5;"></rect>
    <rect id="incoming_user_rect" height="90%" width="14%" x="71%" y="25"  style="fill: white; stroke-width: 1; stroke: gray; stroke-dasharray: 5;"></rect>
    <rect id="incoming_machine_rect" height="90%" width="14%" x="85%" y="25"  style="fill: white; stroke-width: 1; stroke: gray; stroke-dasharray: 5;"></rect>


    <!-- Incoming Subhheaders -->
    <rect id="incoming_port_header" height="30" width="7%" x="50%" y="25" style="fill: lightgrey; stroke-width: 1; stroke: gray "></rect>
    <text id="incoming_port_header_text" x="53.5%" y="40" dominant-baseline="middle" text-anchor="middle">Incoming Port</text>

    <rect id="incoming_process_header" height="30" width="14%" x="57%" y="25" style="fill: lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="incoming_process_header_text" x="64%" y="40" dominant-baseline="middle" text-anchor="middle">Incoming Process</text>

    <rect id="incoming_user_header" height="30" width="14%" x="71%" y="25" style="fill: lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="incoming_user_header_text" x="78%" y="40" dominant-baseline="middle" text-anchor="middle">Incoming User</text>

    <rect id="incoming_machine_header" height="30" width="14%" x="85%" y="25" style="fill: lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="incoming_machine_header_text" x="92%" y="40" dominant-baseline="middle" text-anchor="middle">Incoming Machine</text>

    <!-- Incoming footer -->
    <rect id="outgoing_connection_footer"  x="50%" y="90%" height="35" width="49%" style="fill: gray; stroke-width: 1; stroke: gray"></rect>

  </svg>
</p>
