<div>
  <br>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card main-container">
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
          <h3>Links</h3>
        </mat-card-title>
        <mat-card-content>
          <div class="mat-elevation-z8">
            <app-connection-links-table [dataSource]="dataSource"></app-connection-links-table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
