.main-container {
  width: 95%;
  overflow: auto;
}

.highlight {
  background: dimgray;
}

.mat-row:hover {
  background-color: lightgrey;
}
.sub-title {
  border-bottom: 2px solid #dfdfdf;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 5px;
  font-weight: bolder;
}
