<div>
  <br>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card main-container">
        <mat-card-header>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">Connection Links</mat-card-title>
          <mat-card-subtitle>
            Total Connections:
            <span *ngIf="(totalConnections.loading$ | async)">Loading</span>
            <span *ngIf="!(totalConnections.loading$ | async)">{{ totalConnections.value$ | async}}</span>,
            Alive Connections:
            <span *ngIf="(totalAliveConnections.loading$ | async)">Loading</span>
            <span *ngIf="!(totalAliveConnections.loading$ | async)">{{ totalAliveConnections.value$ | async}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div fxFlexAlign="center center" fxLayout="column" fxFlex>
            <div fxFlex class="mat-title sub-title">Active Links</div>
            <app-active-connections-graph fxFlex="100"></app-active-connections-graph>
            <div fxFlex class="mat-title sub-title">All Links</div>
            <app-connection-links-table fxFlex="100" [dataSource]="dataSource"></app-connection-links-table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
