<ng-template #loading>
  <mat-card fxLayout="column" fxLayoutAlign="center center" class="overview" style="min-height: 400px">
    <mat-progress-spinner color="primary" mode="indeterminate" value=50></mat-progress-spinner>
  </mat-card>
</ng-template>

<div>
  <br>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card main-container">
        <mat-card-header>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column"> Agents </mat-card-title>
          <mat-card-subtitle>
            Total Agents: <span *ngIf="(totalAgents.loading$ | async)">Loading..</span><span *ngIf="!(totalAgents.loading$ | async)">{{ totalAgents.value$ | async }}</span>, Currently Alive: <span *ngIf="(totalAlive.loading$ | async)">Loading..</span><span *ngIf="!(totalAgents.loading$ | async)">{{totalAlive.value$ | async}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div fxFlexAlign="center center" fxLayout="column" fxFlex>
            <!-- Diagrams -->
            <div fxFlex>
              <div fxLayout="row">

                <div fxFlex="50">
                  <div fxLayout="column" style="min-height: 400px">
                    <div fxFlex="100" class="header">Active Incoming Connections to Agents</div>
                    <div fxFlex="100">
                      <div *ngIf="!(incomingMap.loading$ | async) else loading">
                        <div fxFlex="100" style="height: 400px">
                          <ngx-charts-bar-vertical
                            [scheme]="activeIncomingScheme"
                            [results]="activeIncoming"
                            [gradient]="false"
                            [xAxis]="true"
                            [yAxis]="true"
                            [legend]="false"
                            [showXAxisLabel]="false"
                            [showYAxisLabel]="false"
                            (select)="selectedGraph($event)">
                          </ngx-charts-bar-vertical>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div fxFlex="50">
                  <div fxFlex fxLayout="column">
                    <div fxFlex class="header">Active Outgoing Connections from Agents</div>
                    <div fxFlex>
                      <div *ngIf="!(outgoingMap.loading$ | async) else loading">
                        <div fxFlex="100" style="height: 400px">
                          <ngx-charts-bar-vertical
                            [scheme]="activeOutgoingScheme"
                            [results]="activeOutgoing"
                            [gradient]="false"
                            [xAxis]="true"
                            [yAxis]="true"
                            [legend]="false"
                            [showXAxisLabel]="false"
                            [showYAxisLabel]="false"
                            (select)="selectedGraph($event)">
                          </ngx-charts-bar-vertical>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Table -->
            <div fxFlex class="mat-title sub-title">All Agents</div>
            <mat-table #table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let agent"> {{ agent.name | titlecase }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="alive">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Alive</mat-header-cell>
                <mat-cell *matCellDef="let agent">
                  <mat-icon *ngIf="agent.alive">check</mat-icon>
                  <mat-icon *ngIf="!agent.alive">close</mat-icon>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="lastSeen">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Last Seen</mat-header-cell>
                <mat-cell *matCellDef="let agent"> {{ agent.lastSeen | amTimeAgo | titlecase}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="firstSeen">
                <mat-header-cell *matHeaderCellDef mat-sort-header>First Seen</mat-header-cell>
                <mat-cell *matCellDef="let agent"> {{ agent.firstSeen | amTimeAgo | titlecase }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="known">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Registered Agent</mat-header-cell>
                <mat-cell *matCellDef="let agent">
                  <mat-icon *ngIf="agent.known" class="icon">check</mat-icon>
                  <mat-icon *ngIf="!agent.known" class="icon">close</mat-icon>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="aliveConnectionCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Alive Connections</mat-header-cell>
                <mat-cell *matCellDef="let agent">{{agent.aliveConnectionCount}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="connectionCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Total Connections</mat-header-cell>
                <mat-cell *matCellDef="let agent">{{agent.connectionCount}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="aliveSourceConnectionCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Alive Source</mat-header-cell>
                <mat-cell *matCellDef="let agent">{{agent.aliveSourceConnectionCount}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="sourceConnectionCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Source Total</mat-header-cell>
                <mat-cell *matCellDef="let agent">{{agent.sourceConnectionCount}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="aliveDestinationConnectionCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Alive Destination</mat-header-cell>
                <mat-cell *matCellDef="let agent">{{agent.aliveDestinationConnectionCount}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="destinationConnectionCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Destination Total</mat-header-cell>
                <mat-cell *matCellDef="let agent">{{agent.destinationConnectionCount}}</mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
              <mat-row
                (click)="selectRow(row)"
                [ngClass]="{ 'highlight' : (selectedRow != null) && (row == selectedRow )}"
                [style.border-left]="row.alive == true ? '5px solid #00DD00' : '5px solid #FF0000'"
                *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
