.main-container {
  width: 95%;
  overflow: auto;
}

.highlight {
  background: dimgray;
}

.mat-row:hover {
  background-color: lightgrey;
}

.header {
  margin: 1px 2px 2px 1px;
  padding: 5px;
  font-weight: bolder;;
}

.sub-title {
  border-bottom: 2px solid #dfdfdf;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 5px;
  font-weight: bolder;
}


.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}


