<p>
  <svg id="graph" width="100%" height="400px">
    <!-- Header -->
    <rect id="header"  x="0" y="0" height="35" width="100%" style="fill: gray; stroke-width: 1; stroke: gray" rx="5" ry="5"></rect>

    <!-- Rects -->
    <rect id="outbound_agent_rect" x="0" height="90%" width="15%" y="25" style="fill: white; stroke-width: 1; stroke: gray; stroke-dasharray: 10;"></rect>
    <rect id="outbound_process_rect" x="30%" height="90%" width="15%" y="25" style="fill: white; stroke-width: 1; stroke: gray; stroke-dasharray: 10;"></rect>
    <rect id="inbound_ip_rect" x="55%" height="90%" width="15%" y="25" style="fill: white; stroke-width: 1; stroke: gray; stroke-dasharray: 10;"></rect>
    <rect id="inbound_agent_rect" x="85%" height="90%" width="15%" y="25" style="fill: white; stroke-width: 1; stroke: gray; stroke-dasharray: 10;"></rect>

    <!-- Subheaders -->
    <rect id="outbound_agent" x="0" y="20" height="25" width="15%" style="fill:lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="outbound_agent_text" x="7.5%" y="32.5" dominant-baseline="middle" text-anchor="middle" style="fill:black">Outbound Agent</text>

    <rect id="outbound_ip" x="15%" y="20" height="25" width="15%" style="fill:lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="outbound_ip_text" x="22.5%" y="32.5" dominant-baseline="middle" text-anchor="middle" style="fill:black">Outbound Interface IP</text>

    <rect id="outbound_process" x="30%" y="20" height="25" width="15%" style="fill:lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="outbound_process_text" x="37.5%" y="32.5" dominant-baseline="middle" text-anchor="middle" style="fill:black">Outbound Process</text>

    <rect id="inbound_port" x="45%" y="20" height="25" width="10%" style="fill:lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="inbound_port_text" x="50%" y="32.5" dominant-baseline="middle" text-anchor="middle" style="fill:black">Inbound Port</text>

    <rect id="inbound_ip" x="55%" y="20" height="25" width="15%" style="fill:lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="inbound_ip_text" x="62.5%" y="32.5" dominant-baseline="middle" text-anchor="middle" style="fill:black">Inbound IP</text>

    <rect id="outbound_process" x="70%" y="20" height="25" width="15%" style="fill:lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="outbound_process_text" x="77.5%" y="32.5" dominant-baseline="middle" text-anchor="middle" style="fill:black">Inbound Process</text>

    <rect id="outbound_agent" x="85%" y="20" height="25" width="15%" style="fill:lightgrey; stroke-width: 1; stroke: gray"></rect>
    <text id="outbound_agent_text" x="92.5%" y="32.5" dominant-baseline="middle" text-anchor="middle" style="fill:black">Inbound Agent</text>

    <!-- footer -->
    <rect id="footer"  x="0" y="90%" height="35" width="100%" style="fill: gray; stroke-width: 1; stroke: gray"></rect>
  </svg>
</p>
