<div>
  <br>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card">
        <mat-card-title fxLayout.get-xs="row" fxLayout.xs="column">
          <h3>Agents</h3>
        </mat-card-title>
        <mat-card-content>
          <div class="mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let agent"> {{ agent.name }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="alive">
                <mat-header-cell *matHeaderCellDef>Alive</mat-header-cell>
                <mat-cell *matCellDef="let agent">
                  <mat-icon *ngIf="agent.alive" class="icon">check</mat-icon>
                  <mat-icon *ngIf="!agent.alive" class="icon">close</mat-icon>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="lastSeen">
                <mat-header-cell *matHeaderCellDef>Last Seen</mat-header-cell>
                <mat-cell *matCellDef="let agent"> {{ agent.lastSeen | amTimeAgo}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="firstSeen">
                <mat-header-cell *matHeaderCellDef>First Seen</mat-header-cell>
                <mat-cell *matCellDef="let agent"> {{ agent.firstSeen | amTimeAgo}}</mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
