<p style="padding: 5px;">
  <svg id="graph" width="100%" height="100px">
    <rect id="outbound_agent" x="0" y="0" height="25" width="15%" style="fill:gray"></rect>
    <text id="outbound_agent_text" x="7.5%" y="12.5" dominant-baseline="middle" text-anchor="middle" style="fill:ghostwhite">Agent</text>

    <rect id="outbound_ip" x="15%" y="0" height="25" width="15%" style="fill:gray"></rect>
    <text id="outbound_ip_text" x="22.5%" y="12.5" dominant-baseline="middle" text-anchor="middle" style="fill:ghostwhite">Interface IP</text>

    <rect id="outbound_process" x="30%" y="0" height="25" width="15%" style="fill:pink"></rect>
    <text id="outbound_process_text" x="37.5%" y="12.5" dominant-baseline="middle" text-anchor="middle" style="fill:ghostwhite">Process</text>

    <rect id="inbound_port" x="45%" y="0" height="25" width="10%" style="fill:yellow"></rect>
    <text id="inbound_port_text" x="50%" y="12.5" dominant-baseline="middle" text-anchor="middle" style="fill:ghostwhite">Inbound Port</text>

    <rect id="inbound_ip" x="55%" y="0" height="25" width="15%" style="fill:magenta"></rect>
    <rect id="outbound_process" x="70%" y="0" height="25" width="15%" style="fill:cyan"></rect>
    <rect id="inbound_agent" x="85%" y="0" height="25" width="15%" style="fill:green"></rect>
  </svg>
</p>
